::root {
  

}

* * {
  border: 1px solid gray;
}

.wrapper {
  --brown-ligh: #292931;
  --brown-dark: #24242b;
  --green: #90d89a;
  --green-orange: linear-gradient(135deg, rgba(144,216,154,1) 0%, rgba(36,36,43,1) 45%);
  overflow: scroll;
  padding: 30px;
  padding-top:10px;
  padding-bottom:10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: var(--brown-dark);
  color: white;
}
